<nav class="navbar bg-dark navbar-expand-sm border-bottom border-body">
  <div class="container-fluid">
    <a class="navbar-brand btn text-light mb-0 h1" style="font-size: 32px;" href="{{ url_for_index }}">MaX3 benchmarks : {{ codeType }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto">
      </ul>
    </div>
  </div>
</nav>
