<nav class="navbar bg-dark navbar-expand-sm border-bottom border-body">
  <div class="container-fluid">
    <a class="navbar-brand btn text-light mb-0 h1" style="font-size: 32px;" href="{{ url_for_index }}">MaX3 benchmarks</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link btn text-light" style="font-size: 22px;" href="{{ url_for_qe }}">Quantum ESPRESSO</a>
        </li>
         <li class="nav-item">
          <a class="nav-link btn text-light" style="font-size: 22px;" href="{{ url_for_yambo }}">Yambo</a>
        </li>
         <li class="nav-item">
          <a class="nav-link btn text-light" style="font-size: 22px;" href="{{ url_for_siesta }}">SIESTA</a>
        </li>
         <li class="nav-item">
          <a class="nav-link btn text-light" style="font-size: 22px;" href="{{ url_for_bigdft }}">BigDFT</a>
        </li>
         <li class="nav-item">
          <a class="nav-link btn text-light" style="font-size: 22px;" href="{{ url_for_fleur }}">FLEUR</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
